html {
         display: flex;
         align: center;}
     body{
          background-color: black;
          color: white;}
            @font-face{
                font-family: "komika";
                src: url(komika.ttf) format("truetype");}
            @font-face{
                font-family: "kablam";
                src: url(kablam.ttf) format("truetype");}
     #mainbox {
           background-color: #838383;
           border-radius: 30%;
           text-align: center;}
     h1 {
    font-family: "kablam", "fantasy";
    color: #ffff90;}
